/*
  Light UI
*/

:root {
  --color-bg: hsl(36, 33%, 98%);
  --color-bg1: hsl(212.31deg, 32%, 92%);
  --color-bg2: #{$cantaloupe};
  --color-bg3: #{darken($cantaloupe, 1.6%)};
  --color-bg4: #{$olive};
  --color-text: #{lighten($fig, 8%)};
  --color-text1: #{lighten($fig, 24%)};
  --color-text2: hsl(0 1% 45% / 1);
  --color-primary: var(--sky);
  --color-border: hsl(108, 0%, 94%);
  --color-border1: hsl(108, 0%, 80%);
  --color-border2: hsl(105, 0%, 66%);
}

/*
  Dark UI
*/

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: hsl(206, 0%, 8%);
    --color-bg1: hsl(212.31deg, 65%, 16%);
    --color-bg2: #{desaturate(lighten($fig, 12%), 50%)};
    --color-bg3: #{lighten($fig, 16%)};
    --color-bg4: #{rgba($olive, 0.66)};
    --color-text: #{desaturate(darken($cantaloupe, 12%), 100%)};
    --color-text1: #{darken($cantaloupe, 16%)};
    --color-text2: #{darken(white, 32%)};
    --color-primary: #{saturate(lighten($sky, 16%), 24%)};
    --color-border: #{lighten($fig, 8%)};
    --color-border1: #{lighten($fig, 12%)};
    --color-border2: #{lighten($fig, 40%)};
  }

  img {
    filter: brightness(0.66) contrast(0.9);
  }
}
