body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--bg);
}

#logo {
  display: block;
  margin: 3rem;
  max-width: 768px;
}
