// font url

$font-url: "https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Jost:wght@400;700&display=swap";

// font family
$font-family: (
  "ff": (
    "body": "'Jost', sans-serif",
    "heading": "'Jost', sans-serif",
    "p": "'Jost', sans-serif",
    "jost": "'Jost', sans-serif",
    "serif": "Bodoni Moda, serif",
  ),
);

// font size
$font-size: (
  "fz": (
    "body": 16px,
    "p": 16px,
  ),
);
